*{
    margin: 0px;
    padding: 0px;
    font-family: "Madimi One", sans-serif;
    letter-spacing: 1px;
}

body{
    background-color: #0b1026;
}

input{
    outline: none;
}

/*//////////////////////////////////////////////////// COMMON CLASSES ////////////////////////////////////////////////////*/

.dis-flex-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dis-flex-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.a-decoration-none{
    border: 0px;
    color: white;
    text-decoration: none;
}

.white-color{
    color: white;
}

.border{
    border: 2px solid red;
}

/*OTHER BROWSER  */
.no-scroll-bar{  
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
}

/*////// SAFARI CHROME ////*/

.no-scroll-bar::-webkit-scrollbar{
    display: none !important;
}


/*//////////////////////////////////////////////////// NAV BAR ////////////////////////////////////////////////////*/

.nav-bar{
    width: 100%;
    height: auto;
    position: relative;
    font-size: 20px;
    justify-content: space-around;
    box-sizing: border-box;
    padding-top: 10px;
}

    .left-two-all-element{
        width: 40%;
        justify-content: space-around;
    }

    .logo{
        height: 60px;
        width: 90px;
    }

        .logo img{
            height: 100%;
            width: 100%;
        }

    .right-all-element{
        width: 50%;
        justify-content: space-between;
    }

        .empty{
            width: 20%;
        }

        .search-bar{
            padding: 8px 10px;
            border-radius: 8px;
            background-color: #11193e;
        }

            .search-bar input{
                background-color: transparent;
                border: none;
                color: white;
                font-size: 15px;
                width: 18vw;
            }

            .search-icon{
                margin-right: 10px;
            }

            .search-bar i{
                color: white;
            }

        .notification-icon{
            color: white;
        }

        .profile-img img{
            height: 40px;
            width: 40px;
            border-radius: 50%;
        }


/* /////////////////////////// MAIN CONTENT /////////////////////// */

#main{
    width: 92%; 
    margin-top: 40px;
    display: flex;
    justify-content: center;
    margin-left: 4%;
}

.main{
    width: 100%;
    position: relative;
}

.right-all-main-content{
    width: 65%;
    height: 100px;
    display: inline-block;
}

#left-all-main-content{
    width: 34%;
    display: inline-block;
    color: white;
    border-color: green;
    position: absolute;
    top: 0px;
    right: 1px;
}

/*///////////////////////////////// HEADER IMAGE ///////////////////////////////////*/

.header-img{
    /* border: 2px solid rebeccapurple; */
    width: 100%;
    height: 400px;
    justify-content: space-between;
}

    .main-img{
        width: 40%;
        height: 100%;
        background-position: center;
    }

        .main-img img{
            width: 100%;
            height: 100%;
        }

    .music-producer-content{
        width: 50%;
        height: 80%;
        align-items: flex-start;
        margin-right: 5%;
        /* border: 2px solid white; */
    }

        .first-row-of-music-producer{
            justify-content: space-between;
            width: 100%;
            align-items: flex-start;
        }

            .producer-company{
                align-items: flex-start;
                color: white;
            }

            .producer-country{
                color: #acafbc;
                letter-spacing: 0.5px;
            }
            

            .followers{
                color: #acafbc;
            }

        .producer-body{
            align-items: flex-start;
            color: white;
            margin-top: 20px;
        }

            .about-company{
                color: #acafbc;
            }


        .main-img-btn{
            margin-top: 35px;
        }
        #play-btn{
            padding: 8px 50px;
            background: linear-gradient(to right,#4829b6,#b444da);
            border: 0px;
            cursor: pointer;
            color: white;
            font-size: 16px;
        }

        #follow-btn{
            background-color: transparent;
            border: 0px;
            color: white;
            font-size: 16px;
            padding: 8px 50px;
            cursor: pointer;
        }

        .count-of-song-album{
            color: white;
            letter-spacing: 0.5px;
            margin-top: 15px;
        }

/*//////////////////////// SONG PLAYLIST ////////////////////// */

.song-main-playlist{
    width: 100%;
    margin-top: 10px;
}

.song-playlist-full-box{
    width: 100%;
    max-height: 650px;
    overflow: auto;
    justify-content: flex-start;
}

    .playlist-box{
        width: 100%;
        /* border: 2px solid rgba(110, 67, 152, 0.425); */
        background-color: #1a1e33;
        min-height: 70px;
        justify-content: space-around;
        margin-top: 10px;
    }

        .playlist-box:hover{
            background-color: #202439;
            transition: all 0.2s;
        }

        .playlist-song-detail{
            width: 70%;
            align-items: flex-start;
        }

.song-img{
    height: 50px;
    width: 50px;
}

    .song-img img{
        height: 100%;
        width: 100%;
        border-radius: 6px;
    }

    .plus-icon{
        color: white;
        font-size: 20px;
        cursor: pointer;
        height: auto;
        width: 5%;
        text-align: center;
    }

        .plus-icon:hover{
            transform: scale(1.2);
            transition: all 0.3s;
        }

/*/////////// LATEST RELEASE BOX //////////*/
#latest-release-box{
    width: 100%;    
}

    .latest-release-box{
        width: 100%;
        align-items: flex-start;
    }

        .first-row{
            width: 100%;
            justify-content: space-between;
        }

            .view-all a{
                font-size: 15px;
                color: #aeafb7;
            }

        .latest-release-content-box{
            margin-top: 10px;
            flex-wrap: wrap;
            width: 100%;
            justify-content: flex-start;
            height: 345px;
            overflow: auto;
        }

            .latest-release-title{
                font-size: 150%;
            }

            .l-r-box{
                width: 100%;
                height: 100px;
                justify-content: flex-start;
                position: relative;
                margin-bottom: 20px;
            }

                .l-r-image{
                    width: 100px;
                    height: 100px;
                }

                    .l-r-image img{
                        height: 100px;
                        width: 100px;
                    }

                .adjust-center{
                    width: 65%;
                    max-width: 65%;
                    align-items: flex-start;
                    margin-left: 20px;
                    color: #93a8b3;
                }

                    .l-r-song-detail{
                        justify-content: space-between;
                        width: 100%;
                    }

                        .song-name{
                            margin-bottom: 10px;
                        }

                    .more-icon{
                        position: absolute;
                        right: 40px;
                        top: 0px;
                        font-size: 1.5rem;
                    }

                    .more-icon i{
                        color: #93a8b3;
                    }

                        .more-icon-detail{
                            width: auto;
                            background-color: white;
                            border-radius: 5px;
                            color: black;
                            font-size: 18px;
                        }

                        .more-icon .more-icon-detail ul{
                            list-style: none;
                        }

                            .more-icon-li{
                                margin-right: 20px;
                            }

                            .more-icon-detail ul li{
                                display: inline;
                            }



/*///////////////////////// RECENTLY PLAYED ///////////////////////////////*/

.recently-played{
    width: 100%;
    max-height: 600px;
    margin-top: 40px;
    justify-content: flex-start;
}

    .recently-played-first-row{
        width: 100%;
        justify-content: space-between;
    }

        .recently-played-title{
            font-size: 150%;
        }

        .recently-played-first-row a{
            font-size: 15px;
            color: #93a8b3;
        }

    .recently-played-song-full-box{
        width: 100%;
        overflow: auto;
        justify-content: flex-start;
    }

        .recently-played-single-box{
            width: 95%;
            justify-content: space-between;
            margin-top: 20px;
        }

        .recently-played-img{
            height: 50px;
            width: 50px;
        }

            .recently-played-img img{
                height: 100%;
                width: 100%;
                border-radius: 6px;
            }

        .recently-played-song-detail{
            align-items: flex-start;
            width: 60%;
            margin-left: -60px;
        }

            .song-name{
                font-size: 18px;
                font-weight: bold;
            }

            .song-artist{
                color: #93a8b3;
                margin-top: -10px;
            }

        .like-icon{
            color: #93a8b3;
            font-size: 20px;
        }

        .like-icon:hover{
           transform: scale(1.2);
           transition: all 0.3s;
        }